#box {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    margin: 5px;
    background-color: blueviolet;
    color: white;
}

.para {
    height : 100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
}